<%# app/views/users/show.html.erb %>
<div class="container-users">
  <%# ************** Display Specific User ************** %>
  <h1 class="font-alpha">One of the Bitches</h1>
    <div>
      <div class="container-places">
      <ol>
        <div><p class="font-gamma">First Name: <%= @user.first_name %> </p></div>
        <div><p class="font-gamma">Last Name: <%= @user.last_name %> </p></div>
        <% if @user.avatar.attached? %>
          <%= cl_image_tag @user.avatar.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src="https://thumbs.dreamstime.com/b/user-woman-icon-lady-s-profile-female-web-sign-flat-art-object-black-white-silhouette-girl-business-suit-avatar-picture-173159996.jpg" alt="">
        <% end %>
        <div><p class="font-gamma">Bio: <%= @user.bio %>
        <div><p class="font-gamma">Email: <%= @user.email %>
        <div><p class="font-gamma">Birthday: <%= @user.birthday  %>
        <div><p class="font-gamma">First Game: <%= @user.first_game %>
        <div><p class="font-gamma">Sign: <%= @user.sign %>
        <div><p class="font-gamma">Favorite Drink: <%= @user.favorite_drink %>
        <div><p class="font-gamma">Lucky Number: <%= @user.lucky_number %>
        <div><p class="font-gamma">Wins: <%= Player.where(user: current_user, winner: true).length %>
        <div><p class="font-gamma">Losses: <%= Player.where(user: current_user, winner: false).length %>
        <div class="item-btn btn font-gamma"><%= link_to 'All Bitches', profiles_path %></div>
      </ol>
    </div>
  </div>
