<%#app/views/nights/show.html.erb%>

<%# ************** Display Specific Night ************** %>
<h1 class="font-alpha">Your latest night was:</h1>
  <div>
    <div class="container-nights">
      <div>
        <div class="list-name font-gamma"><%= @night.title %></div>
        <div class="list-name font-gamma"><%= @night.place %></div>
        <div class="list-name font-gamma"><%= @night.start_time %></div>
        <div class="list-name font-gamma"><%= @night.end_time %></div>
        <div class="item-btn font-gamma"><%= link_to 'All Nights', nights_path(@night) %></div>
      </div>
  </div>
