<%# app/views/shared/_navbarhtml.erb %>

<%# ************** Navbar Logo ************** %>
<div class="navbar navbar-expand-sm navbar-light navbar">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "no-balls.png" %>
  <% end %>

<%# ************** Navbar ************** %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="<%= active?(root_path)%>">
          <%= link_to "Home", root_path, class: "btn-navbar"  %>
        </li>
        <li class="<%= active?(dashboards_dashboard_path)%>">
        <%= link_to "Dashboard", dashboards_dashboard_path, class: "btn-navbar"  %>
        </li>
        <li class="<%= active?(nights_path)%>">
         <%= link_to "Nights", nights_path, class: "btn-navbar"  %>
        </li>
        <li class="<%= active?(places_path)%>">
        <%= link_to "Places", places_path, class: "btn-navbar"  %>
        </li>
        <li class="<%= active?(root_path)%>">
          <%= link_to "BitchBook", bitch_book_entries_path, class: "btn-navbar"  %>
        </li>

<%# ************** Navbar Dropdown ************** %>

        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/emmvs", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "All Nights", nights_path, class: "dropdown-item" %>
            <%= link_to "Plan Night", new_night_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
