<div class="navbar navbar-expand-sm navbar-light navbar">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "pool.png", :class => "navbar_home_image" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="font-gamma<%= active?(dashboards_path)%>">
        <%= link_to "HOME", dashboards_path, class: "btn-navbar"  %>
        </li>
        <li class="font-gamma<%= active?(profiles_path)%>">
          <%= link_to "BITCHES", profiles_path, class: "btn-navbar"  %>
        </li>
        <li class="font-gamma<%= active?(nights_path)%>">
          <%= link_to "NIGHTS", nights_path, class: "btn-navbar"  %>
        </li>
        <li class="font-gamma<%= active?(places_path)%>">
        <%= link_to "PLACES", places_path, class: "btn-navbar"  %>
        </li>
        <li class="font-gamma<%= active?(root_path)%>">
          <%= link_to "BITCHBOOK", bitch_book_entries_path, class: "btn-navbar"  %>
        </li>

        <li class="nav-item dropdown">
          <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", root_path, class: "dropdown-item" %>
            <%= link_to "Plan Night", new_night_path, class: "dropdown-item" %>
            <%= link_to "All Nights", nights_path, class: "dropdown-item" %>
            <%= link_to "Places", places_path, class: "dropdown-item" %>
            <%= link_to "Bitches", profiles_path, class: "dropdown-item" %>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
