<!-- app/views/dashboards/overview.html.erb -->

<%# ************** TO DO ************** %>
<%# Make The Dashboard editable/sortable %>
<%# Depending on Role you have different features here%>
<%# > Feature Add Nights, Role Moderator, Admin %>
<%# > Feature Add Places, Role User, Moderator, Admin %>

<%# ************** DASHBOARD ************** %>
<section class="container-dashboard font-alpha">
  <div class="item-hello">
    <h2 class="font-beta">Hi, <%= current_user.first_name %>!</h2>
    <h2 class="item-welcome font-gamma">and welcome to your personal Dashboard</h2>
  </div>
  <br>
  <div>
    <h3 class="col-xl-4 card font-gamma"><%= current_user.bio %> </h3>
  </div>
  <br>

  <%# ****** Sortable ****** %>
  <div data-controller="sortable" id="results" class="sortable-container">
    <!-- Content Row -->
      <div class="col-xl-2 col-md-4 mb-4 item-lucky-number">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body results">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2"></div>
              <h3 class="mb-1 text-xs font-gamma"> Your lucky number is: <%= current_user.lucky_number %></h3>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-xl-2 col-md-4 mb-4 item-favorite-drink">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2"></div>
              <h3 class="font-gamma"> Your favorite drink is: <%= current_user.favorite_drink %></h3>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-xl-2 col-md-4 mb-4 item-sign">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2"></div>
              <h3 class="font-gamma"> Your sign is: <%= current_user.sign %></h3>
              <a href="#" class="btn btn-primary">Who else? ✨</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-xl-2 col-md-4 mb-4 item-wins">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2"></div>
              <h3 class="font-gamma"> You won : <%= current_user.wins %> times!</h3>
              <a href="#" class="btn btn-primary">Last Night 🍸</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-xl-2 col-md-4 mb-4 item-losses">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2"></div>
              <h3 class="font-gamma"> You lost : <%= current_user.losses %> times! 🎱 </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="card">
    <div class="card-header font-gamma">
      Bitchbook Entry of the Day 🎯
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h3 class="font-gamma"> <%= BitchBookEntry.last.text %> 🎱 </h3>
        <footer class="blockquote-footer"> Emma <cite title="Source Title"> Founder of NBJB</cite></footer>
      </blockquote>
    </div>
  </div>
</section>
