<!-- app/views/dashboards/overview.html.erb -->
<%# TO DO %>
<br>
<br>
<br>
<section class="container">
  <div class="item-hello">
    <h1 class="font-alpha">Hi, <%= current_user.first_name %>!</h1>
  </div>
  <div>
    <h2 class="item-welcome font-gamma">and welcome to your personal Dashboard</h2>
  </div>
  <div class="item-lucky_number">
  <br>
    <h3 class="font-gamma"> Your lucky number is: <%= current_user.lucky_number %> </h3>
    <br>
    <h3 class="font-gamma"> Your favorite drink is: <%= current_user.favorite_drink %> </h3>
    <br>
    <h3 class="font-gamma"> Your sign is: <%= current_user.sign %> </h3>
    <br>
    <h3 class="font-gamma"> Bio: <%= current_user.bio %> </h3>
    <br>
    <h3 class="font-gamma"> You won : <%= current_user.wins %> times and </h3>
    <br>
    <h3 class="font-gamma"> you lost : <%= current_user.losses %> times! 🎱 </h3>
  </div>
</section>
