<%# app/views/bitch_book_entries/_form.html.erb %>

<%# TODO ************** %>

<%# ************** Create/Edit Bitch Book Entry ************** %>
<%= simple_form_for(@bitch_book_entry) do |f| %>
  <div class="form-inputs">
    <%= f.input :topic, placeholder: 'Whats the topic?🎉' %>
    <%= f.input :title, placeholder: 'Whats the title?🎉' %>
    <%= f.input :text, placeholder: 'Whats the text?🎉' %>
    <%= f.input :rating, placeholder: 'Whats the rating?' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
