<%# app/views/bitch_book_entries/index.html.erb %>
<div class="container-bitch-book-enties">
  <h1 class="font-beta">The Bitchbook</h1>

<%# ************** Display Bitch Book Entries ************** %>
<%# TO DO %>
<%# Depending on Role you have different feutues here%>
<%# Feature Add Comments, Role Admin, Player %>
<%# Feature Add Ratings, Role Admin, Player  %>
  <div class="container">
      <% @bitch_book_entries.each do |bitch_book_entry| %>
          <div class="card border-left-primary shadow h-100 py-2">
          <div class="list-name font-gamma"><%= bitch_book_entry.title %></div>
          <div><%= link_to 'Show', bitch_book_entry %></div>
          <div><%= link_to 'Edit', edit_bitch_book_entry_path(bitch_book_entry) %></div>
          <div><%= link_to 'Destroy', bitch_book_entry, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    <%= link_to 'New Bitch Book Entry', new_bitch_book_entry_path %>
  </div>
</div>
