<!DOCTYPE html>
<html>
  <head>
    <title>No Balls - Just Bitches</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <!-- cdn link to paste in your <head> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">

    <!-- Google Result Text-->
    <title>No Balls - Just Bitches. The Women's Billard Club</title>
    <!-- Google result description-->
    <meta name="description" content="No Balls – Just Bitches is Europe’s best Billard Club for Women. Learn to play billard and never say sorry again.">

    <%# HTML Skeleton - Head & Facebook %>
    <meta property="og:title" content="No Balls – Just Bitches - The Women's Billard Club">
    <meta property="og:image" content="nbjb.jpg">
    <meta property="og:description" content="NBJB is the best Billard Club for Women. Rule one: Never apologize">
    <meta property="og:site_name" content="No Balls – Just Bitches"/>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
